<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-transaction-heading" jhiTranslate="haryaliApp.sellerTransaction.home.createOrEditLabel">Create or edit a Transaction</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="haryaliApp.sellerTransaction.userName" for="field_userName">User Name</label>
                    <input type="text" class="form-control" name="userName" id="field_userName"
                           formControlName="userName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="haryaliApp.sellerTransaction.transactionAmount" for="field_transactionAmount">Transaction Amount</label>
                    <input type="number" class="form-control" name="transactionAmount" id="field_transactionAmount"
                           formControlName="transactionAmount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="haryaliApp.sellerTransaction.transactionDate" for="field_transactionDate">Transaction Date</label>
                    <div class="input-group">
                        <input id="field_transactionDate" type="text" class="form-control" name="transactionDate" ngbDatepicker #transactionDateDp="ngbDatepicker" formControlName="transactionDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="transactionDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="haryaliApp.sellerTransaction.transactionMethod" for="field_transactionMethod">Transaction Method</label>
                    <select class="form-control" name="transactionMethod" formControlName="transactionMethod" id="field_transactionMethod">
                        <option value="ONLINE">{{ 'haryaliApp.PayMentMode.ONLINE' | translate }}</option>
                        <option value="UPI_ID">{{ 'haryaliApp.PayMentMode.UPI_ID' | translate }}</option>
                        <option value="CASH">{{ 'haryaliApp.PayMentMode.CASH' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="haryaliApp.sellerTransaction.processedBy" for="field_processedBy">Processed By</label>
                    <input type="text" class="form-control" name="processedBy" id="field_processedBy"
                           formControlName="processedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="haryaliApp.sellerTransaction.nursery" for="field_nursery">Nursery</label>
                    <select class="form-control" id="field_nursery" name="nursery" formControlName="nurseryId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="nurseryOption.id" *ngFor="let nurseryOption of nurseries; trackBy: trackById">{{ nurseryOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
