<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transaction">
            <h2><span jhiTranslate="haryaliApp.sellerTransaction.detail.title">Transaction</span> {{ transaction.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="haryaliApp.sellerTransaction.userName">User Name</span></dt>
                <dd>
                    <span>{{ transaction.userName }}</span>
                </dd>
                <dt><span jhiTranslate="haryaliApp.sellerTransaction.transactionAmount">Transaction Amount</span></dt>
                <dd>
                    <span>{{ transaction.transactionAmount }}</span>
                </dd>
                <dt><span jhiTranslate="haryaliApp.sellerTransaction.transactionDate">Transaction Date</span></dt>
                <dd>
                    <span>{{ transaction.transactionDate }}</span>
                </dd>
                <dt><span jhiTranslate="haryaliApp.sellerTransaction.transactionMethod">Transaction Method</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'haryaliApp.PayMentMode.' + transaction.transactionMethod }}">{{ transaction.transactionMethod }}</span>
                </dd>
                <dt><span jhiTranslate="haryaliApp.sellerTransaction.processedBy">Processed By</span></dt>
                <dd>
                    <span>{{ transaction.processedBy }}</span>
                </dd>
                <dt><span jhiTranslate="haryaliApp.sellerTransaction.nursery">Nursery</span></dt>
                <dd>
                    <div *ngIf="transaction.nurseryId">
                        <a [routerLink]="['/nursery', transaction.nurseryId, 'view']">{{ transaction.nurseryId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction', transaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
